html, body {
    height: 100%;
    background-color:wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: centers; 
}

.box {
    width: 20px;
    height: 20px;
    background-color: red;
}


/* .container {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

.box {
    width: 20px;
    height: 20px;
    background-color: red;

} */