a {
    position: relative;
    display: inline-block;
}

ul {
    margin-top: 0;
    display: none;
    position: absolute;
    padding: 15px 15px;
    list-style: none;
    width: 4rem;

}

a:hover ul {
    display: block;
}